body {
    font-family: 'Roboto Mono', Monospace, serif;
}

.background-main {
background: url("../img/background_tizer_samsung_1920_400_dark_blur.jpg");
    height: 400px;

}

.placeholder {
    padding-bottom: 70em;
}

.row-text{
    border-bottom-color: #0f0f0f;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}
.spacer {
    padding-bottom: 5em;
}

#id_containerMain h1{
    color: #f5f5f5;
}

h1, h2 {
    text-align: center;
}

.c-background-white{
    background: white;
}

.c-thumbnail-label{
    background: white;
    width: 150px;
    height: 113px;
}

/*.column-double-thumbnail-center {*/
    /*!*background: url("../img/textured_paper.png") repeat fixed;;*!*/
    /*background-color: #555555;*/
    /*color: white;*/
    /*margin: 10px;*/
    /*padding: 5px;*/
    /*width: 320px;*/
    /*height: 226px;*/
    /*display: inline-table;*/
/*}*/

.column-thumbnail-center {
    /*background: url("../img/textured_paper.png") repeat fixed;;*/
    background-color: #555555;
    color: white;
    margin: 10px;
    padding: 5px;
    width: 160px;
    height: 226px;
    display: inline-table;


/*text-align: center;*/
/*margin: 3px;*/
/*padding: 3px;*/
/*display: block;*/
}

.c-columnNavTop {
    z-index: 1024;
    position: fixed;
    color: white;
    background-color: #777777;
    /*padding: 0px 0px;*/
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.c-listInline {
    display: inline;
    margin: 0;
    padding: 0;

    text-align: center;
}

.c-listInline li {
    display: inline-block;
    box-sizing: border-box;
    list-style-type: none;
}

.c-listInline a {
    padding: 15px;
    display: inline-block;
    color: white;
    text-decoration: none;
}

.c-listInline a:hover {
    background-color: #adadad;
}

.column-list {

}


.c-listBlock ul {
    background-color: #555555;
    color: white;
    /*margin: 10px;*/
    padding: 5px;
    /*width: 100%;*/
    /*height: 100%;*/
    /*display: inline-table;*/

    float: none; !important;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.c-listBlock li {
    marginpx: 10px;
    padding: 3px;
    list-style-type: none;
    vertical-align: middle;
}

#id_imgRight {
    float: right;
}

/* Extra small devices (two-line menu) */
@media only screen and (max-width: 500px) {
    .c-columnNavTop {
        display: none;
    }

}



/* Extra small devices (tablets, 480px and up) */
@media (max-width: 320px) {
}

/* Extra small devices (tablets, 480px and up) */
@media (max-width: 480px) {
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
}

/*img {*/
/*padding: 1em;*/
/*}*/

/*.container-main{*/
/*background: white;*/
/*}*/

/*.background-main {*/
/*background: url("http://stepanovv.ru/sites/all/themes/sky/css/images/ts/hatch.png") repeat fixed;*/
/*}*/

/*h1, h2, p {*/
/*font-family: Roboto, Monospace,serif;*/
/*}*/
.caption {
    padding-top: 1em;
}

p {
    font-size: 15px;
}

a.c-anchorOffset {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}

.column-double-center {
    /*min-width: 325px;*/
    padding: 1em 3em 1em 2em;
}

.column-double-center ul {
    /*float: left;*/
}

ul {
    display: inline;
}

.column-center {
    background: white;
    padding: 1em 3em 1em 2em;
}

.column-center span {
    margin: 5px 0px 5px 0px;
    display: inline-block;
}

.column-center ul {
    float: left;
}

/*.column-left-center {*/
/*background: white;*/

/*}*/

/*.column-right-center {*/
/*background: white;*/
/*}*/
