body {
    font-family: 'Roboto Mono', Monospace, serif;
}

.background-main {
    background: url("../img/hatch.png") repeat fixed;
}

.placeholder {
    padding-bottom: 50em;
}

h2 {
    text-align: center;
}
/*.column-thumbnail-center {*/
    /*text-align: center;*/
    /*margin: 3px;*/
    /*padding: 3px;*/
/*}*/

.c-columnNavTop {
    z-index: 1024;
    position: fixed;
    background-color: white;
    width: 100%;
}

.c-columnNavTop a:hover {
    background-color: #adadad;
}

.c-columnNavTop a {
    padding: 15px;
    display: block;
    text-decoration: none;
}

.c-listInline {
    display: inline;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.c-listInline li {
    display: inline-block;
    box-sizing: border-box;
}

.c-listBlock {
    display: block;
    /*margin: 0;*/
    /*padding: 0;*/
    list-style-type: none;
}

.c-listBlock li{
    /*margin: 0;*/
    padding: 3px;
}

.column-double-center ul{
float: left;
}

.column-double-center img{
    float: right;
}


/* Extra small devices (tablets, 480px and up) */
@media (max-width: 320px) {
}

/* Extra small devices (tablets, 480px and up) */
@media (max-width: 480px) {
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
}

/*img {*/
/*padding: 1em;*/
/*}*/

/*.container-main{*/
/*background: white;*/
/*}*/

/*.background-main {*/
/*background: url("http://stepanovv.ru/sites/all/themes/sky/css/images/ts/hatch.png") repeat fixed;*/
/*}*/

/*h1, h2, p {*/
/*font-family: Roboto, Monospace,serif;*/
/*}*/
.caption {
    padding-top: 1em;
}

p {
    font-size: 16px;
}

.column-double-center {
    background: white;
    padding: 1em 3em 1em 2em;
}

.column-left-center {
    background: white;

}

.column-right-center {
    background: white;
}
